
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Playwrite+CU:wght@100..400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .parrafos-grid{
    display: grid;
    padding: 40px;
    background-color: brown;
    grid-template-columns: repeat(2, minmax(0, 1fr));

} */

.parrafos-nosotros{
    display: flex;
    padding: 40px;
    background-color: rgb(18, 18, 48);
    color: white;
} 
.parrafos-grid p{
    width: 50%;
}

.logo img{
    width: 20%;
    height: auto;
}

.logo-nosotros img{
    width: 20%;
    height: auto;
}
/* -----------------------------------------header-----------------------------------------*/

header{
    background-color: #12122d;
    padding: 10px;
    margin-top: 0px;
    /* Experimentando xd' */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 99;
    
}

header div nav ul {
    padding: 0px;
    margin-left: 0px;
    list-style: none;
    display: flex; /* Hace que los elementos <li> se alineen en fila */
}

header div nav ul li{
    display: inline-block;
    margin-right: 50px;
}

header div nav ul li a{
    text-decoration: none;
    color: #ebeff0;
    font-size: 20px;
    font-weight: medium;
}
/* -----------------------------------------body-----------------------------------------*/
.hero {
    position: relative; /* Necesario para posicionar el pseudo-elemento correctamente */
    width: 100%;
    height: calc(100vh - 103.6px);
    text-align: center;
    background-image: url(../img/background1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #ebeff0;
    padding: 10%;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 1; /* Asegura que el contenido esté encima del pseudo-elemento */
    
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color sólido (negro); ajusta el color y la opacidad según lo necesites */
    z-index: -1; /* Asegura que la capa sólida esté debajo del contenido pero sobre la imagen */
}




.hero h1{
    font-size: 50px;
    display: inline-block;
    padding: 15px;
    color: #ebeff0;
}

.hero p{
    font-size: 15px;
    margin: 20px;
}

.hero a{
    /*width: 100%; /* Ajusta el ancho del botón */
    height: 90%; /* Ajusta la altura para que sea igual al ancho */
    border-radius: 60px 60px 60px 60px; /* Hace que el botón sea redondo */
    border: none;    /* Elimina el borde predeterminado del botón */
    background-color: #01f6f7; /* Color de fondo del botón */
    color: #12122d; /* Color del texto o ícono dentro del botón */
    font-size: 20px; /* Tamaño del texto o ícono */
    display: flex center; /* Alinea el contenido al centro */
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    cursor: pointer; /* Cambia el cursor a una mano cuando pasas sobre el botón */
    /* box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5); /* Añade sombra para darle profundidad */
    transition: background-color 0.5s; /* Efecto de transición al pasar el cursor */
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    
}

.hero a:hover{
background-color: #6e29f6; /* Cambia de color al pasar el cursor */ 
color: #ebeff0
}

/*-
.hero a{
    display: flex;
    background-color: #01f6f7;
    text-decoration: none;
    color: #12122d;
    padding: 15px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
}--*/


.nuestros_servicios{
    display: flex;
    border: 0px solid #01f6f7;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
    height: 10%;
    background-color: #12122d;
    color: #ebeff0;
    padding-left: 20%;
    padding-right: 20%;
}


.servicios{
    display: flex;
    justify-content: center;
    background-color: #12122d;
    flex-wrap: wrap;

}

.servicios div{
    display: flex;
    width: 300px;
    height: 350px;
    border: 2px solid #01f6f7;
    margin: 20px;
    text-align: center;
    border-radius: 15px 15px;
    display: inline-block;
    background-color: #ebeff0;
    
}

.servicios div img{
    width: 90%;
    border-radius: 15px 15px 0 0;
    padding: 5px;
}

.servicios div h3{
    margin-top: 1px;
}

/*
.servicios div a{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 3px;
}
*/

.servicios div a{
/*width: 100%; /* Ajusta el ancho del botón */
/*height: 90%; /* Ajusta la altura para que sea igual al ancho */
border-radius: 60px 60px 60px 60px; /* Hace que el botón sea redondo */
border: none;    /* Elimina el borde predeterminado del botón */
background-color: #01f6f7; /* Color de fondo del botón */
color: #12122d; /* Color del texto o ícono dentro del botón */
font-size: 20px; /* Tamaño del texto o ícono */
display: flex center; /* Alinea el contenido al centro */
justify-content: center; /* Centra horizontalmente el contenido */
align-items: center; /* Centra verticalmente el contenido */
cursor: pointer; /* Cambia el cursor a una mano cuando pasas sobre el botón */
/* box-shadow: 0 10px 10px rgba(255, 255, 255, 0.5); /* Añade sombra para darle profundidad */
transition: background-color 0.5s; /* Efecto de transición al pasar el cursor */
text-decoration: none;
font-weight: bold;
padding: 12px;
margin-top: 20px;
}

.servicios div a:hover{
    background-color: #6e29f6; /* Cambia de color al pasar el cursor */ 
    color: #ebeff0
    }

/* -----------------------------------------body-----------------------------------------*/

body{
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
    background-color: #12122d;
}




.idea{
    
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #6e29f6;
    color: #ebeff0;
    align-items: center;
    justify-content: center;
}

.text_idea{
    width: 50%;
    padding-left: 0px;
    padding-right: 0px;
    border: solid 0px #01f6f7;
    font-weight: center;
    align-items: center;
}

.text_idea h3{
    font-size: 20px;
    margin-bottom: 10px;
}



.img_idea{
    width: 50vh;
    height: 50vh;
    display: flex;
    margin: 0px;
    padding: 20px;
    max-width: 500px;
}

.img_idea img{
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}


/* -----------------------------------------footer-----------------------------------------*/

footer{
    background-color: #12122d;
    display: flex;
    flex-wrap: wrap;
    color: #ebeff0;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    
}

footer div img{
    width: 150px;
    height: 150px;
    margin-right: 80px;
    margin-left: 80px;
}

.footer_contacto{
    margin: 20px;
    margin-right: 80px;
    margin-left: 80px;

}

.footer_seccion_links{
    margin: 20px;
    color: #ebeff0;
    text-decoration: none;
    list-style: none;
    margin-right: 80px;
    margin-left: 80px;

}

.list{
    list-style: none;
}
.list li a{
    text-decoration: none;
    list-style: none;
    color: #ebeff0;
}